<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <title>{{page_title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/github.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/doc.css"/>
  </head>
  <body>
  	<header class="background">
      <p class="version">PyTxServer v1.0</p>
  		<h1>{{page_title}}</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
  	</header>
    <aside class="menu">
      <ul>
        <li><a href="#">item 1</a></li>
        <li><a href="#">item 2</a></li>
        <li><a href="#">item 3</a></li>
        <li><a href="#">item 4</a></li>
      </ul>
    </aside>
    <div class="container">
      <div id="markup">
        <article id="content" class="markdown-body">
          {{!page}}
        </article>
      </div>
    </div>
    <footer><p>&copy; <a href="http://mcgivrer.wordpress.com/">McGivrer</a> 2013 - <a href="mailto:frederic.delorme@gmail.com&subject=Game 2D tutorial" title="Send a mail to author">contact</a></p></footer>
  </body>
</html>