<div id="login-form" class="form absolute-centered">
	<form method="POST" action="/login">
		<h1>User Login <span id="form-close" class="close"></span></h1>
		<ul class="form-content"> 
			<li><label for="username"><u>U</u>sername :</label>
			<input type="text" name="username" accesskey="U" value="" placeholder="userame"/></li>
			<li><label for="username"><u>P</u>assword :</label>
			<input type="password" name="password" accesskey="P" value="" placeholder="password"></li>
		</ul>
		<div class="form-action">
			<input type="submit" class="default" id="login" name="login" value="Login" accesskey="L">
			<input type="button" name="cancel" id="cancel" value="Cancel" accesskey="C">
		</div>
	</form>
</div>
